{% extends "base.html" %}

{% load fontawesome %}
{% load i18n %}
{% load humanize %}

{% block title %}{% trans "Themes" %}{% endblock %}

{% block content %}
<h1 class="text-center">{% trans "Themes" %}</h1>
<p class="lead text-center">
{% blocktrans count counter=paginator.count %}{{ counter }} theme{% plural %}{{ counter }} themes{% endblocktrans %}.
</p>

{% include "blocks/listheader.html" %}

<div class="row card-list">
  {% for theme in object_list %}
    {% include "memopol_themes/_theme_card.html" with theme=theme %}
  {% endfor %}
</div>

{% include "blocks/listfooter.html" %}

{% endblock %}
