{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Members of the European Parliement" %}{% endblock %}

{% block container-class %}custom-listMEP{% endblock %}
{% block content %}

<h1 class="text-center">{% trans "Representatives" %}</h1>
<p class="lead text-center">
  Found {{ paginator.count }} {% trans "representatives" %}.
</p>

{% include "blocks/listheader.html" %}

<div class="row card-list">
  {% for mep in object_list %}
    {% include "representatives/_representative_card.html" with representative=mep cols=4 %}
  {% empty %}
    {% trans "No representatives found !" %}
  {% endfor %}
</div>

{% include "blocks/listfooter.html" %}

{% endblock %}
